@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th,
  td {
    @apply table-cell;
  }
}

@layer components {
  .btn-settings {
    @apply aspect-square rounded-full border border-stone-300 p-1 hover:border-blue-600 dark:border-stone-600 hover:dark:border-blue-600;
  }

  .table-cell {
    @apply border border-stone-300 px-1 dark:border-stone-600;
  }
  .marked-cell {
    @apply striped-corner stripe-0.5 md:stripe-0.75 to-transparent;
  }
  .legend-cell {
    @apply marked-cell table-cell rounded p-2 text-center;
  }

  .mark-odd {
    @apply stripe-br from-amber-400 dark:from-amber-700;
  }
  .mark-even {
    @apply stripe-bl from-emerald-400 dark:from-emerald-700;
  }

  .tooltip-target {
    @apply relative inline-flex flex-col items-center;
  }
  .tooltip {
    @apply absolute top-0 z-10 hidden w-full min-w-max rounded border border-stone-300 bg-white/20 px-1 text-center backdrop-blur dark:border-stone-600  dark:bg-stone-900/20;
  }
}

@layer utilities {
  .striped-corner {
    background-image: linear-gradient(
      var(--tw-stripe-angle),
      var(--tw-gradient-from) var(--tw-stripe-width),
      var(--tw-gradient-to) var(--tw-stripe-width)
        calc(2 * var(--tw-stripe-width)),
      var(--tw-gradient-from) calc(2 * var(--tw-stripe-width))
        calc(3 * var(--tw-stripe-width)),
      var(--tw-gradient-to) calc(3 * var(--tw-stripe-width))
        calc(4 * var(--tw-stripe-width)),
      var(--tw-gradient-from) calc(4 * var(--tw-stripe-width))
        calc(5 * var(--tw-stripe-width)),
      var(--tw-gradient-to) calc(5 * var(--tw-stripe-width))
    );
  }

  .stripe-bl {
    --tw-stripe-angle: 45deg;
  }
  .stripe-br {
    --tw-stripe-angle: -45deg;
  }

  .stripe-0\.5 {
    --tw-stripe-width: 0.125rem;
  }
  .stripe-0\.75 {
    --tw-stripe-width: 0.1875rem;
  }

  .animate-conjure-vanish {
    @apply block opacity-0;
    animation: conjure 0.3s ease, cruciate 1.2s linear 0.3s,
      reverse conjure 0.3s ease-out 1.5s;
  }
}

@keyframes cruciate {
  from,
  to {
    opacity: 1;
  }
}

@keyframes conjure {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
